@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class = "brand">Life as Experienced</h1>
</div>

<div class="row">
    <div class="col-md-5 home">
        <h2 class="home-title">Getting started</h2>
        <p>
            Register and share your adventures, intentions, desires and whatever you want.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink", @class = "home_button"})</p>
    </div>
    <div class="col-md-5 home">
        <h2  class="home-title">Meet acquaintances</h2>
        <p>Here you can find different people, with different interests and read their stories</p>
        <p>@Html.ActionLink("Posts", "Index", "Posts", new { area = "" }, new { @class = "home_button"})</p>
    </div>
</div>