@using BlogSystem.Web.Models.Posts
@model PostsCollectionViewModel

@{
    ViewBag.Title = "RestorePost";
}

<div id="post" class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-md-4">
            <h2>@post.Title</h2>
            <p>@post.AuthorEmail - @post.PostedOn</p>

            @using (Html.BeginForm("RestorePost", "Admin", new { id = post.Id, area = "Admin" }, FormMethod.Post))
            {
                <input type="submit" value="Restore" />
            }
        </div>
    }
</div>